.active {
    background-color: #3d3a3b;
    color: #ffffff;
    margin: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.username {
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}

.dropdown-icon {
    margin-left: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    padding: 10px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-content button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    padding-left: 8px;
}

.dropdown-content button:hover {
    background-color: #C3202B;
    color: white;
    border-radius: 0.375rem;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content button {
    width: 100%;
    text-align: left;
}